################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Idioms/bin/Debug
/Idioms/obj
/MigrationBackup/c061c3b5/Idioms
/Idioms/Properties
